#
# Hey! Everything in here is better suited to httpd.conf, since
# we get a performance boost if we can turn off AllowOverride and
# not have to stat the webroot for every request. On the other
# hand, this means we never have to touch apache once it's up.
# Flexibility over performance.
#
# In an ideal world, you'd stick it in here on dev and your build
# system would bundle the changes into (a file included in) httpd.conf
# for your production deployment, perhaps wrapped in a <VirtualHost>
# block.
#

# ETags are a bad idea if you have multiple web servers. We'll do
# more explicit caching with Expires headers anyway.
FileETag none

# The base set of sensible PHP options. You could put these in your
# php.ini file too, but having them in your Apache config puts
# everything in one place. Magic quotes off because they are stupid.
# Register globals off for the same reason. Track errors is so that
# we can at least get at the error messages we hide using @func().
# last_modified is a bad idea if we have any dynamic content. Short
# tags make for a few saved bytes of cruft and are fine unless you're
# running another XML preprocessor over your code (wtf?).

php_value magic_quotes_gpc 0
php_value register_globals 0
php_value magic_quotes_runtime 0
php_value track_errors 1
php_value last_modified off
php_value short_open_tag on

# This value is very useful for development, but should be disabled
# on production deployments (by setting the value to 'off')
php_flag display_errors on

# This sets all current and future error flags on, except for E_NOTICE
# which can go fuck itself. We have some separate code for checking the
# one notice we do care about.
php_value error_reporting 2147483639

# Some basic pointers to php files
DirectoryIndex index.php
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

# Get mod_rewrite fired up
RewriteEngine on

# Static pages

RewriteRule ^about/?$                      about.php                         [L]
# RewriteRule ^privacy/?$                    privacy.php                       [L]
# RewriteRule ^conduct/?$                    conduct.php                       [L]
# RewriteRule ^terms/?$                      terms.php                         [L]

# User stuff

RewriteRule ^signup/?$                     signup.php [L]
RewriteRule ^login/?$                      login.php [L]
RewriteRule ^logout/?$                     logout.php [L]
RewriteRule ^checkcookie/?$                checkcookie.php [L]
# RewriteRule ^settings/?$                   settings.php [L]

# Password retrieval stuff

# RewriteRule ^forgot/?$                     forgot.php [L]
# RewriteRule ^reset/([a-zA-Z0-9]+)/?$       reset.php?reset=$1 [L,QSA]

# Invites

# RewriteRule ^invite/?$                     invite.php [L,QSA]
# RewriteRule ^invite(?:/([^/]+))?/?$        invite.php?code=$1 [L,QSA]

# Auth a service account

RewriteRule ^auth/twitter/?$               auth_twitter.php [L]
RewriteRule ^auth/mlkshk/?$                auth_mlkshk.php [L]

# API stuff

RewriteRule  ^api/?$                       api.php [L]
RewriteRule  ^api/methods/?$               api_methods.php [L]
RewriteRule  ^api/methods/explore/?$       api_methods.php [L]
RewriteRule  ^api/methods/(.*)/explore/?$  api_method_explore.php?method=$1&%{QUERY_STRING} [L]
RewriteRule  ^api/methods/(.*)/?$          api_method.php?method=$1&%{QUERY_STRING} [L]

RewriteRule  ^api/keys/?$                  api_keys.php?%{QUERY_STRING} [L]
RewriteRule  ^api/keys/register/?$         api_keys_register.php?%{QUERY_STRING} [L]
RewriteRule  ^api/keys/([a-zA-Z0-9]+)/?$   api_key.php?api_key=$1&%{QUERY_STRING} [L]
RewriteRule  ^api/keys/([a-zA-Z0-9]+)/tokens(/page([0-9]+))?/?$ api_key_tokens.php?api_key=$1&page=$3&%{QUERY_STRING} [L]

RewriteRule  ^api/oauth2/?$                api_oauth2.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/howto/?$          api_oauth2_howto.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/authenticate/?$   api_oauth2_authenticate.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/authenticate/like-magic/?$ api_oauth2_authenticate_like_magic.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/access_token/?$   api_oauth2_access_token.php?%{QUERY_STRING} [L]

RewriteRule  ^api/oauth2/tokens(/page([0-9]+))?/?$ api_oauth2_tokens.php?page=$2&%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/tokens/([a-zA-Z0-9]+)/?$ api_oauth2_token.php?api_key=$1&%{QUERY_STRING} [L]

RewriteRule  ^api/rest/?$                  api_rest.php?%{QUERY_STRING}  [L]

# Flow stuff

RewriteRule ^faves/page(\d+)/?$            index.php?filter=faves&page=$1 [L,QSA]
RewriteRule ^faves/?$                      index.php?filter=faves [L,QSA]
RewriteRule ^page(\d+)/?$                  index.php?page=$1 [L,QSA]
RewriteRule ^(twitter|mlkshk)/page(\d+)/?$ index.php?service=$1&page=$2 [L,QSA]
RewriteRule ^(twitter|mlkshk)/?$           index.php?service=$1 [L,QSA]

# Profile stuff

RewriteRule ^(\w+)/accounts/?$             accounts.php?username=$1 [L]
RewriteRule ^(\w+)/network/?$              network.php?username=$1 [L]
RewriteRule ^(\w+)/faves/page(\d+)/?$      profile.php?username=$1&filter=faves&page=$2 [L,QSA]
RewriteRule ^(\w+)/faves/?$                profile.php?username=$1&filter=faves [L,QSA]
RewriteRule ^(\w+)/page(\d+)/?$            profile.php?username=$1&page=$2 [L,QSA]
RewriteRule ^(\w+)/(\w+)/page(\d+)/?$      profile.php?username=$1&service=$2&page=$3 [L,QSA]
RewriteRule ^(\w+)/(\w+)/?$                profile.php?username=$1&service=$2 [L,QSA]
RewriteRule ^(\w+)/?$                      profile.php?username=$1 [L,QSA]

# Home

# RewriteRule ^page(\d+)/?$                  flow.php?page=$1               [L,QSA]
