body {
	/* I borrowed this font-family stack from GitHub */
	font: 14px/21px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: #efefef;
}

h1 {
	/* Unfortunately Realtime is connected to some pagecount checker that
	   requires an internet connection to work. Guess that's just how
	   MyFonts rolls. (20170304/dphiffer) */
	font-family: "Realtime-Regular", monospace;
	text-transform: uppercase;
	color: #df146a;
	margin-bottom: 0.5em;
}

h2 {
	font-family: "Realtime-Regular", monospace;
	text-transform: uppercase;
	color: #444;
}

a {
	color: #df146a;
	text-decoration: underline;
}

a.btn {
	text-decoration: none;
}

a:hover, a:focus {
	color: #FC56A7;
}

a.text-muted:hover {
	color: #df146a;
}

#main {
	background: #fff;
	padding: 1em 0 2em 0;
	min-height: calc(100vh - 50px);
}

body.about p {
	line-height: 1.75em;
}

#feature-list p {
	margin-left: 47px;
}

#login-btn {
	margin-top: 1.5em;
}

#profile-services {
	margin-bottom: 1em;
}

.accounts-service {
	margin-bottom: 2em;
}

.account {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #dedede;
}

.account h2 {
	margin-bottom: 0;
}

.account form {
	margin-top: 1em;
}

.form-control {
	border-radius: 2px;
	border: 1px solid #ccc;
	transition: none;
	height: 40px;
}

.form-control:focus {
	box-shadow: none;
	border: 1px solid #df146a;
	background: #fff;
}

.btn {
	border-radius: 2px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.btn-lg {
	font-size: 13px;
	line-height: 2.5em;
}

.btn-primary,
.btn-primary:focus {
	background-color: #df146a;
	border-color: #df146a;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: #333;
	border-color: #333;
}

.navbar-default {
	background-color: #efefef;
	border: none;
	margin-bottom: 0;
}

.navbar-default a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #df146a;
	color: #fff;
}

.alert {
	border-radius: 3px;
}

.alert-danger {
	color: #df146a;
	border-color: #f1c1d5;
	background-color: #f1e1e8;
}

footer {
	background: #efefef;
	padding: 1em 0;
}

footer h1 {
	color: #333;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0;
}

footer a {
	color: #333;
	text-decoration: none;
}

footer a:hover {
	color: #000;
	text-decoration: underline;
}

footer ul {
	padding: 0;
}

footer li {
	list-style: none;
}

.nav-pills a {
	text-decoration: none;
	background: #f2f2f2;
}

.nav-pills > li > a:hover {
	text-decoration: none;
	color: #fff;
	background: #333;
}

.nav-pills > li.active > a {
	color: #fff;
	font-weight: bold;
	background-color: #df146a;
}

.nav-pills > li.active > a:hover {
	background-color: #df146a;
}

.tweet a {
	text-decoration: none;
}

.tweet a:hover {
	text-decoration: underline;
}

.item {
	position: relative;
	border-bottom: 1px solid #dedede;
	padding: 0 0 15px 0;
	margin-bottom: 15px;
	margin-top: -4px;
}

.tweet .text {
	min-height: 33px;
}

.profile_image {
	position: absolute;
	left: 0;
	top: 29px;
	width: 48px;
	height: 48px;
	border-radius: 5px;
}

.event {
	font-size: 13px;
	margin-bottom: 3px;
}

.event a {
	text-decoration: none;
}

.event a:hover {
	text-decoration: underline;
}

.tweet .event {
	margin-left: -58px;
}

.tweet .content {
	margin-left: 58px;
}

.event-retweet .glyphicon {
	margin-right: 4px;
}

.event-tweet .glyphicon {
	margin-right: 2px;
}

.item .content {
	overflow-wrap: break-word;
}

.tweet .content .media {
	display: block;
	margin: 7px 0 0 0;
}

.tweet .content .media img,
.tweet .content .media video,
.tweet .content .quoted-status {
	width: 100%;
	height: auto;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.tweet .content .quoted-status {
	display: block;
	margin: 7px 0;
	padding: 12px 15px;
	position: relative;
}

.tweet .content .quoted-status .quoted-link {
	color: #999;
}

.tweet .content .quoted-status .quoted-link:hover {
	color: #039;
}

.tweet .content .media-gif {
	position: relative;
}

.tweet .content .media-gif a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.tweet .content .media-gif a .text {
	position: absolute;
	bottom: 15px;
	left: 10px;
	color: #ccc;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 4px 7px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	min-height: 0;
}

.tweet .content .media-gif a.playing .text {
	display: none;
}

.tweet .user a {
	color: #000;
}

.tweet .user a .name {
	font-weight: bold;
}

.tweet .user a .screen_name {
	color: #999;
	font-size: 12px;
}

.tweet .user a:hover {
	text-decoration: none;
}

.tweet .user a:hover .name {
	color: #df146a;
	text-decoration: underline;
}

.tweet .entity:hover {
	text-decoration: none;
}

.tweet .entity:hover .text {
	text-decoration: underline;
}

.tweet .entity-media-gif:hover .text {
	text-decoration: none;
}

.tweet .meta {
	font-size: 11px;
}

.tweet .meta a {
	color: #999;
}

.tweet .meta a:hover {
	color: #df146a;
	text-decoration: underline;
}

.mlkshk h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
}

.mlkshk img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 2px;
}

.mlkshk .description {
	margin-top: 0.5em;
}

.mlkshk .media-gif {
	position: relative;
	display: block;
}

.mlkshk .media-gif .label {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #ccc;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding: 7px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	min-height: 0;
}

.mlkshk .gif-playing .label {
	display: none;
}

.pagination > li > a, .pagination > li > span {
	color: #df146a;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	color: #fff;
	background-color: #333;
	border-color: #333;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #df146a;
	border-color: #df146a;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	cursor: default;
}

.pagination-buttons {
	margin-right: 15px;
}

.user-follow {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	letter-spacing: 1px;
}

.user-follow.btn-primary {
	opacity: 0.33;
}

.user-follow.btn-primary:hover {
	opacity: 1;
}

.user-follow .label-following,
.user-follow .label-loading {
	display: none;
}

.user-follow-following .label-following {
	display: inline;
}

.user-follow-following .label-not-following {
	display: none;
}

.user-follow-loading .label-loading {
	display: inline;
}

.user-follow-loading .label-following,
.user-follow-loading .label-not-following {
	display: none;
}

ul.network-users {
	padding-left: 0;
	border-top: 1px solid #dedede;
}

ul.network-users > li {
	list-style: none;
	border-bottom: 1px solid #dedede;
	padding: 0.5em 0;
}

ul.network-users h2 {
	margin: 0;
}

ul.network-users a.username {
	text-decoration: none;
}

ul.network-users a.username:hover {
	text-decoration: underline;
}

ul.network-users .user-follow {
	float: right;
}

#feedback-link {
	color: #df146a;
}

.item-fave {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	background: #dedede;
	padding: 6px 6px 4px 7px;
	border-radius: 2px;
	color: #808080;
}

.item-fave-active {
	color: #fff;
	background: #df146a;
}

.item-fave-loading {
	color: #fff;
	background: #808080;
}
